<%- include('start') -%>
    <%- include('header') -%>
        <main class="container">
            <div class="mt-5 mb-4">
                <div class="mb-4 gap-3">
                    <h1>Star Engineer</h1>
                    <div id="cardCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% stars.forEach(e=>{%>

                                <div class="carousel-item active">
                                    <div class="row justify-content-center">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <img src= '<%= e.imgurl%>' class="card-img-top" alt="Card 1">
                                                <div class="card-body">
                                                    <h5 class="card-title">Sarah Chen</h5>
                                                    <p class="card-text"><%= e.description%></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%}) %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#cardCarousel"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#cardCarousel"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="mb-4 row">
                        <h1 class="col-9">Engineer List</h1>
                        <input type="text" class="col-3 rounded" placeholder="input the description of the engineer">
                    </div>
                    <div class="mb-4 btn-group" role="group" aria-label="Basic example">
                        <div class="btn-group col-3" role="group">
                            <button type="button" class="btn text-info-emphasis text-bg-light border dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">Type</button>
                            <ul class="dropdown-menu w-100 text-center">
                                <li><a class="dropdown-item" href="?type=electrician">Electrician</a></li>
                                <li><a class="dropdown-item" href="?type=carpenter">Carpenter</a></li>
                            </ul>
                        </div>
                        <a type="button" class="btn text-info-emphasis text-bg-light border col-3" href="?field=area">Area</a>
                        <a type="button"
                            class="btn text-info-emphasis text-bg-light border col-3" href="?field=price">Saticification</a>
                        <a type="button" class="btn text-info-emphasis text-bg-light border col-3" href="?field=price">Price</a>
                    </div>


                    <% engineers.forEach(e=>{ %>

                        <div class="mb-4 col-lg-4 col-md-6 col-sm-10">
                            <div class="card col-lg-6" style="width: 18rem;">
                                <img src='<%= e.imgurl%>' class="card-img-top" alt="...">
                                <div class="card-body">
                                    <p class="card-text"><%= e.description%></p>
                                    </div>
                                </div>
                            </div>
                            <%}) %>
                </div>
                <div class="row">
                    <div class="offset-lg-5 offset-md-4 offset-sm-4 col-lg-4 col-md-4 col-sm-4">
                        <nav<ul class="pagination">
                            <li class="page-item <%= parseInt(currentPage) === 1 ? 'disabled' : '' %>">
                                <a class="page-link" href="?page=<%= parseInt(currentPage) - 1 %>">Previous</a>
                            </li>

                            <% for (let i = parseInt(currentPage); i <= parseInt(totalPages) && i <= (parseInt(currentPage) + 5); i++) { %>
                                <li class="page-item <%= i === parseInt(currentPage) ? 'active' : '' %>">
                                    <a class="page-link" href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                            <% } %>

                            <li
                                    class="page-item <%= parseInt(currentPage) === parseInt(totalPages) ? 'disabled' : '' %>">
                                <a class="page-link"
                                   href="?page=<%= parseInt(currentPage) + 1 %>">Next</a>
                            </li>
                        </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer') -%>
            <%- include('end') -%>