<%- include('header'); -%>

<header>
    <div class="container-fluid bg-info-subtle mb-4">
        <div class="col-sm-8 mx-auto text-center py-2">
            <h1 class="display-4">World of Ice Cream</h1>
            <p class="lead ">OOPS... Hit an error....</p>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <h1>
            <%= message %>
        </h1>
        <h2>
            <%= error.status %>
        </h2>
        <pre><%= error.stack %></pre>
    </div>
</main>

<%- include('footer'); -%>